.glyphicon-padding {
    padding-right: 5px;
}
.list-group a:hover {
    background-color: #4d4a4a;
}

/* Left */
.alarm-mode {
    padding-top: 80px;
}
.alarm-button {
    font-weight: bold;
    margin-top:  60px;
}
.alarm-display {
    font-style:  italic;
    padding-top: 15px;
}

/* Center */
.time-display {
    padding-bottom: 80px;
    padding-top:    80px;
}
.timezone-button {
    font-weight: bold;
}
.timezone-display {
    font-style:  italic;
    padding-top: 15px;
}

/* Right */
.time-button {
    font-weight: bold;
    margin-top:  55px;
}
.hour-mode {
    padding-top: 10px;
}
.seconds-mode {
    padding-top: 10px;
}
.daylight-mode {
    padding-top: 10px;
}
